@model List<Hobby>


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div style="display: flex; align-items: center; justify-content: space-evenly;">
            <h1>Hobbies!</h1>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Hobby Name</th>
                    <th scope="col">Enthusiasts</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Hobby  h in Model)
                {
                    <tr>
                        <td><a asp-controller="Hobby" asp-action="OneHobby" asp-route-HobbyId="@h.HobbyId">@h.HobbyName </a></td>
                        
                        <td>@h.EnthusiasmList.Count</td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-controller="Hobby" asp-action="NewHobby" class="btn btn-outline-primary">New Hobby</a>
    </body>
</html>