@model string;

<div class= "text-center"><a href = "/Numbers">Numbers</a>
    <a href = "/Users">Users</a>
    <a href = "/User">User</a>
    <h1>Here is a Message !</h1>
    
    <p>@Model</p>
</div>