@model int[]

<div class= "text-center">
    
    <a href="/">Home</a>
    <a href = "/Users">Users</a>
    <a href = "/User">User</a>
    <h1> Here are some numbers</h1>
    @{
        foreach( int num in Model)
        {
            <h4>@num</h4>
        }
    }

</div>