@using ViewModelFun.Models
@model User
<div class= "text-center"> 
    <a href="/">Home</a> 
    <a href = "/Numbers">Numbers</a>
    <a href = "/Users">Users</a>
    <h1>Here is a User!</h1>
    <h4>@Model.FirstName  @Model.LastName</h4>
    
    
    @* Confirm with Max why this cant be User.FirstName *@

</div>