@using ViewModelFun.Models
@model List<User>

    <div class="text-center">
        <a href="/">Home</a>
        <a href = "/Numbers">Numbers</a>
        <a href = "/User">User</a>
        <h1>Here are some Users!</h1>
        
        @{
            foreach (User user in Model)
            {
                <h4>@user.FirstName @user.LastName</h4>
            }

        }
    </div>

